<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <title>Eruby!</title>
 </head>
 <body>
  <h1>A Test of Eruby</h1>
  <em>The current time should be printed below.</em>
  <p><% print Time.now %></p>
 </body>
</html>
