<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <title>Eruby!</title>
 </head>
 <body>

<%

$LOAD_PATH.unshift( File.join( File.dirname(__FILE__), 'lib' ) )

require "cgi"
require 'digest/md5'
require 'api'

cgi = CGI.new
api = API.new

# Tell the API class where to find/put the wget log files
run_folder = File.dirname(__FILE__) + "/run"
api.run_folder( run_folder )

case cgi["action"]

  when "download"
    result = api.download( cgi["url"] )

  when "status"
    result = api.status( cgi["url"] )

  when "cookie"
    result = api.save_cookie( cgi["domain"], cgi["cookie_text"] )

  else
    result = {
      "error"   => 1,
      "message" => "Invalid action"
    }

end
puts JSON.generate( result );
%>



 </body>
</html>
